master/*
slave/*

!master/CANMaster
!slave/CANSlave

master/CANMaster/*
slave/CANSlave/*

!slave/CANSlave/drivers
!slave/CANSlave/drivers/*

!master/CANMaster/main.c
!slave/CANSlave/main.c

!.gitignore
